@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:weht@500&display=swap');

/* :root{
    
} */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* overflow: auto; */
}

html{
    /* font-size: 62.5%; */
    height: 100%;
}

body{
    background: #1d1d1d;
    height: 100%;
    margin: 0%;
    overflow-x: hidden;
}
:root{
    /* height: 100%; */
    --yellow-theme-main-color:gold;
}